<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122428222758-9d7nrkscueqktp7s6ercb4u7blmmv6nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122428222758-9d7nrkscueqktp7s6ercb4u7blmmv6nn</string>
	<key>API_KEY</key>
	<string>AIzaSyDvrHxuQhQI0DbcpTiTI-vS7XAQJGqu754</string>
	<key>GCM_SENDER_ID</key>
	<string>122428222758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rschireman.RandomRestaurant</string>
	<key>PROJECT_ID</key>
	<string>ciftoinput</string>
	<key>STORAGE_BUCKET</key>
	<string>ciftoinput.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122428222758:ios:efa08e6caf6f3fff58a5e7</string>
	<key>DATABASE_URL</key>
	<string>https://ciftoinput.firebaseio.com</string>
</dict>
</plist>